@{
    ViewData["Title"] = "Nosotros";
    Layout="_Layout";
}

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla illo nesciunt esse nemo, placeat velit ipsam error molestiae est! Quasi, tempore quo! Minus neque ipsa autem voluptas harum sit non!</p>